In [9]:
# from geometries import survey_polygon
from survey_to_csv import process_xml_zip
from polygons_to_geojson import kml_to_geojson

In [ ]:
xml_zip = "../../data/labels/labeled_surveys/random_sample/DSB_1-25.zip"
df = process_xml_zip(xml_zip, original_location_file="../../data/sampling/samples/random_sample/Zambia_0.05_n_1-25.csv")

xml_zip = "../../data/labels/labeled_surveys/random_sample/DSB_101-125.zip"
df = process_xml_zip(xml_zip, original_location_file="../../data/sampling/samples/random_sample/Zambia_0.05_n_101-125.csv")

xml_zip = "../../data/labels/labeled_surveys/random_sample/KL_51-75.zip"
df = process_xml_zip(xml_zip, original_location_file="../../data/sampling/samples/random_sample/Zambia_0.05_n_51-75.csv")

xml_zip = "../../data/labels/labeled_surveys/random_sample/KL_101-125.zip"
df = process_xml_zip(xml_zip, original_location_file="../../data/sampling/samples/random_sample/Zambia_0.05_n_101-125.csv")

CSV successfully created at: ../../data/labels/labeled_surveys/random_sample/DSB_1-25.csv

,site_id,internal_id,plot_file,operator,operator_initials,x,y,water_source,image_number,year,month,day,irrigation
0,id_5213073,4,Zambia_0.05_n_1-25.csv,None,DSB,26.872521622247284,-16.550263111712955,true,1,2018,9,15,3
1,id_5201322,5,Zambia_0.05_n_1-25.csv,None,DSB,26.302066039459145,-16.196592600070733,false,1,2023,6,10,1
2,id_5038665,24,Zambia_0.05_n_1-25.csv,None,DSB,29.34947859029196,-10.203145050736977,true,1,2017,9,18,2
3,id_5145908,10,Zambia_0.05_n_1-25.csv,None,DSB,28.28370900561473,-14.395097143646572,false,1,2024,8,6,1
4,id_5145908,10,Zambia_0.05_n_1-25.csv,None,DSB,28.28370900561473,-14.395097143646572,false,2,2020,6,6,3

In [ ]:
kml = "../../data/labels/labeled_surveys/random_sample/DSB_1-25.kml"
df = kml_to_geojson(kml)

kml = "../../data/labels/labeled_surveys/random_sample/DSB_101-125.kml"
df = kml_to_geojson(kml)

kml = "../../data/labels/labeled_surveys/random_sample/KL_51-75.kml"
df = kml_to_geojson(kml)

kml = "../../data/labels/labeled_surveys/random_sample/KL_101-125.kml"
df = kml_to_geojson(kml)

GeoJSON written to ../../data/labels/labeled_surveys/random_sample/DSB_1-25.geojson

,geometry,name,operator_initials,internal_id,month,day,year,certainty,uncertainty_explanation,plantation,commercial,color,color_im_num
0,"POLYGON ((31.27247 -11.08762, 31.27261 -11.088...",DSB_21_6.12.2024,DSB,21,6,12,2024,3,unclear signs of ag,0,0,None,NaN
1,"POLYGON ((31.27437 -11.08887, 31.27449 -11.089...",DSB_21_6.12.2024,DSB,21,6,12,2024,3,may naturally be green,0,0,None,NaN
2,"POLYGON ((31.27476 -11.08859, 31.27502 -11.089...",DSB_21_6.12.2024,DSB,21,6,12,2024,3,may naturally be green,0,0,None,NaN
3,"POLYGON ((31.27608 -11.09014, 31.27609 -11.090...",DSB_21_6.12.2024,DSB,21,6,12,2024,3,may naturally be green,0,0,None,NaN
4,"POLYGON ((31.27694 -11.09248, 31.27679 -11.092...",DSB_21_6.12.2024,DSB,21,6,12,2024,3,only slightly green,0,0,None,NaN

In [ ]:
    survey = "../../data/labels/labeled_surveys/random_sample/DSB_1-25.csv"
    survey_results = merge_and_check(survey)
    print(survey_results.head())

    survey = "../../ddata/labels/labeled_surveys/random_sample/DSB_101-125.csv"
    survey_results = merge_and_check(survey)
    print(survey_results.head())

    survey = "../../ddata/labels/labeled_surveys/random_sample/KL_101-125.csv"
    survey_results = merge_and_check(survey)
    print(survey_results.head())

    survey = "../../ddata/labels/labeled_surveys/random_sample/KL_51-75.csv"
    survey_results = merge_and_check(survey)
    print(survey_results.head())